:root {
    --main-btn-color: #ffffff;
    --second-btn-color: #212121;
    --about-title-color: #212121;
    --about-title-type-color: #757575;
    --accent-color: #2196F3;
    --benefits-title: #212121;
    --benefits-text: #757575;
    --masters-item-text: #757575;
    --link-text: rgba(255, 255, 255, 0.6);
    --background-color: #E5E5E5;
    --background-second-color: #ffffff;
    --background-link-color: #2F303A;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


ul,
ol {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--background-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link.current {
    color: var(--accent-color);
}

.pointer {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--about-title-color);
}

.logo-bottom {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus,
.footer-location:hover,
.footer-location:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

.gallery,
.benefits,
.masters,
.hero-portfolio {
    background-color: var(--background-second-color);
}

/*--------------------------------------HEADER------------------------------------*/
.header {
    background-color: var(--background-second-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-list,
.header-link {
    display: flex;
}

.header-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--second-btn-color);
}

.header-tel,
.header-mail {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--about-title-type-color);
}

.header-connect {
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

/*--------------------------------------BUTTON------------------------------------*/
.main-button:hover,
.main-button:focus {
    color: var(--second-btn-color);
}

.second-button:hover,
.second-button:focus {
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    border: 1px solid var(--main-btn-color);
    border-radius: 4px;
}



.main-button {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin: auto;
    display: block;
}

.second-button {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);
    height: 50px;
    border: 1px solid var(--main-btn-color);
    border-radius: 4px;
    margin-right: 8px;
}

.button1 {
    width: 73px;
}

.button2 {
    width: 128px;
}

.button3 {
    width: 145px;
}

.button4 {
    width: 103px;
}

.button5 {
    width: 130px;
}

/*--------------------------------------HERO------------------------------------*/
.hero {
    color: var(--main-btn-color);
    background-color: var(--background-link-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-about-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--about-title-color);
    margin-top: 20px;
    margin-bottom: 4px;
}

.hero-about-type {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--about-title-type-color);
}

.hero-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-list {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 50px;
}

.hero-about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.hero-about-list > .hero-about-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}





/*---------------------------------BENEFITS------------------------------------*/
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    margin-right: 4px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--benefits-title);
    margin-bottom: 10px;
}

.benefits-text {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--benefits-text);
}

/*---------------------------------GALLERY-------------------------------------*/
.gallery-list {
    display: flex;
    padding-bottom: 94px;
}

.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.gallery-item+.gallery-item {
    margin-left: 30px;
}

/*---------------------------------MASTERS-------------------------------------*/
.masters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.masters-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.masters-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.masters-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--masters-item-text);
    margin-bottom: 30px;
}

.masters-list {
    display: flex;
    margin-right: -30px;
}

.masters-item {
    flex-basis: calc(100% / 3 - 30px);
}


/*--------------------------------------FOOTER------------------------------------*/
.footer {
    background-color: var(--background-link-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-link {
    font-style: normal;
    margin-bottom: 9px;
}

.footer-location {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
}

.footer-mail,
.footer-tel {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--link-text)
}
